{% extends "base.html" %}

{% block content %}
<article id="main-article" class='posts article-container'>
  <div class='post'>
    <h2>new post</h2>

      <form method="post">
        <label>
          <div class='post'>subject</div>
          <input type="text" name="subject" value="{{subject}}">
        </label>

        <label>
          <div class='post-content'>blog</div>
          <textarea name="content">{{content}}</textarea>
        </label>

        <div class="error">{{error}}</div>

        <input type="submit">
      </form>
  </div>
</article>
{% endblock %}
