{% extends "base.html" %}

{% block content %}
<article id="main-article" class='posts article-container'>
  <div class='project'>
    <h2 class='post-content'>new project</h2>
    <form method="post">
      <label>
        <div>url</div>
        <input type="text" name="url" value="{{url}}">
      </label>

      <label>
        <div>title</div>
        <input type="text" name="title" value="{{title}}">
      </label>

      <label>
        <div>blurb</div>
        <textarea name="blurb">{{blurb}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
  </div>
</article>
{% endblock %}

