{% extends "base.html" %}
<!-- Projects Page Content : 
        Main: List of all Projects: 
            Project Title; Blurb; Skills; Related Posts; 
        Side: None;
 -->
{% block projects %}
    <article id="projects" class='article-container'>
	{% for project in projects %}
		<div class='project'>
	        <h3><a href={{project.url}}>{{project.title}}</a></h3><br>
	        <p class='side-url'><a href={{project.url}}>{{project.url}}</a>
	        <br>{{project.blurb}}</p>
		</div>
	{% endfor %}
	</article>
{% endblock %}
